<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="refresh" content="5" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@200;300;400;600;700;800&display=swap" rel="stylesheet">
    <title>Room Temperature</title>
</head>
<body>
    <h2>Room Temp</h2>
       <% for(const p in data) { %> 
       <p> Room <%= p %>  is : <span style="color: rgb(87, 165, 42);"><%= data[p] %> C&deg;</span></p>
        <% } %>
    
</body>
</html>